.container {
    padding: 15px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    background-color: #dbd6d6;
    padding-left: 20px;
}